<!DOCTYPE HTML>
<html>
	<head>
		<title>MMO Asteroidz</title>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
		<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			namespace = '/test';
			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
			socket.on('connect', function() {
				socket.emit('join', {data: 'I\'m connected!'} );
			});

			socket.on('draw', function(data){
				console.log(data)
				draw(data, socket);
			});
			
			$(document).keydown(function(e){
				/*
				   Keycodes for arrow keys:
				   	left: 37
					up: 38
					right: 39
					down: 40

				   Keycode for space: 32
				*/

				var ARROW_KEYS = {37 : "left", 38 : "up", 39 : "right", 40 : "down"};
				var SPACE = 32;
				if (ARROW_KEYS[e.keyCode]){
					socket.emit("move_ship", ARROW_KEYS[e.keyCode]);
				} else if (e.keyCode == SPACE){
					socket.emit("fire");
				}
			});

		});
		function draw(data, socket){
			var sockid_prefix = socket.nsp + "#";
			var identifier = socket["id"].replace(sockid_prefix, "");
			var canvas = document.getElementById('gamespace');

			if (canvas.getContext) {
				var ctx = canvas.getContext('2d');
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				for (var user in data.players){
					if (user == identifier){
						current_user = true;
					} else {
						current_user = false;
					}

					draw_ship(data.players[user], ctx, current_user);
				}

				draw_projectiles(data.projectiles, ctx);
				draw_asteroids(data.asteroids, ctx);
			}
		
		}

		function draw_projectiles(projectiles, ctx){
			for (var i = 0; i < projectiles.length; i++){
				var p = projectiles[i];
				//Convert to radians
				var rot = p.rot*Math.PI/180;
				
				var x2 = p.x+3*Math.cos(rot);
				var y2 = p.y+3*Math.sin(rot);
				ctx.beginPath();
				ctx.moveTo(p.x, p.y);
				ctx.lineTo(x2, y2);
				ctx.strokeStyle="#000000";
				ctx.stroke();	
			}	
		
		}

		function draw_asteroids(asteroids, ctx){
			for (var i = 0; i < asteroids.length; i++){
				var a = asteroids[i];
				var deg = a.spin;
				ctx.beginPath();
				var startx = null;
				var starty = null;
				for (var p = 0; p < a.points.length; p++){
					deg += a.points[p];
					x = a.x + a.radius*Math.cos(deg*Math.PI/180);
					y = a.y + a.radius*Math.sin(deg*Math.PI/180);
					if (p == 0){
						startx = x;
						starty = y;
						ctx.moveTo(x, y);
					} else {
						ctx.lineTo(x, y);
					}
				}
				ctx.lineTo(startx, starty);
				ctx.strokeStyle = "#000000";
				ctx.stroke();
			}
		}
		
		function draw_ship(ship_data, ctx, current_user){
			var spaceship_length = 15;
			var x = ship_data.x;
			var y = ship_data.y;
			var rot = ship_data.rot;
			//Convert to radians
			rot = rot*Math.PI/180;
			var offset = 120*Math.PI/180;
			var x1 = x+spaceship_length*Math.cos(rot);
			var y1 = y+spaceship_length*Math.sin(rot);
		
			var x2 = x+spaceship_length*Math.cos(rot+offset);
			var y2 = y+spaceship_length*Math.sin(rot+offset);
			
			var x3 = x+spaceship_length*Math.cos(rot+offset*2);
			var y3 = y+spaceship_length*Math.sin(rot+offset*2);
			
			ctx.beginPath();
			ctx.moveTo(x1, y1);
			ctx.lineTo(x2, y2);
			ctx.lineTo(x3, y3);
			ctx.lineTo(x1, y1);
			ctx.fillStyle = "#"+ship_data.colour;
			ctx.strokeStyle = "#"+ship_data.colour;
			ctx.stroke();
			if (current_user){
				ctx.fill();
			}

			//Draw a line to indicate the front of the ship	
			ctx.beginPath();
			ctx.moveTo(x1, y1);
			ctx.lineTo(x1+1, y1+1);
			ctx.strokeStyle = "#000000";

			ctx.stroke();
	
		}
		
		</script>
		<style>
		#gamespace {
			border: 1px solid #e0e0e0;
		}
		</style>
	</head>
	<body>
		<canvas id="gamespace" width="700" height="600"></canvas>
	</body>
</html>
